<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Hannaford</title>
    <link  type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" data-turbolinks-track="reload" />
    <link  type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css" media="screen,projection" data-turbolinks-track="reload"/>
    <link href="/css/main.css" type="text/css" rel="stylesheet" media="screen,projection" data-turbolinks-track="reload"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" data-turbolinks-track="reload"/>
    
    <!-- Ensure that the page will reload when the user logs in or logs out -->
    <meta name="current-user-id" th:if="${pageState.userInfo!=null}" th:content="${pageState.userInfo.id}" data-turbolinks-track="reload" />
    
    <script type="text/javascript">
    	if(navigator.userAgent.indexOf("HannafordAndroid/")>0){
    		document.documentElement.className += ' native-app android-app';
    	}
    </script>
    
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <!-- 
    <link href="/css/common-styles.jsp?__bts__=20160519103130" rel="stylesheet" type="text/css"/>
	<link href="/css/persistent-list-styles.jsp" rel="stylesheet" type="text/css"/>
	<link href="/css/registration-layer-styles.jsp" rel="stylesheet" type="text/css"/>
	<link href="/css/store-selection-layer-styles.jsp" rel="stylesheet" type="text/css"/>
	<link href="/css/coupon-printer-layer-styles.jsp" rel="stylesheet" type="text/css"/>
	<link href="/css/catalog-styles.jsp" rel="stylesheet" type="text/css"/>
	<link href="/css/HF_css.jsp?__bts__=20160519103130" rel="stylesheet" type="text/css"/>
	<link href="/css/site_css.jsp" rel="stylesheet" type="text/css"/>
	<link href="/css/jquery-theme/jquery-ui-themes.css" rel="stylesheet" type="text/css"/>
	<link href="/css/ocpsdk/motif_styles.jsp?gkey=renderedMotifproduct1&amp;motifName=HFMotif&amp;source=filesystem&amp;hash=-3318418617725836767" rel="stylesheet" type="text/css"/>
	<link href="/css/product-ensemble-styles.jsp" rel="stylesheet" type="text/css"/>
	 -->
	  <!--Import jQuery before materialize.js-->
	  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js" data-turbolinks-track="reload"></script>
	  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js" data-turbolinks-track="reload"></script>
	  <script type="text/javascript" src="/js/turbolinks.min.js" data-turbolinks-track="reload"></script>
<!-- 	  <script type="text/javascript" src="/js/turbo-react.min.js" data-turbolinks-track="reload"></script> -->
	  <script type="text/javascript" src="/js/main.js" data-turbolinks-track="reload"></script>
  </head>
  <body>
  	<body>
  <nav id="primary-nav" class="light-red lighten-1" role="navigation">
    <div class="nav-wrapper container">
      <ul class="right hide-on-med-and-down">
      	<!-- top navigation -->
      	<li th:if="${pageState.storeInfo!=null}"><a th:href="${pageState.storeInfo.link}" th:text="${pageState.storeInfo.name}"></a></li>
        <li th:classappend="${#httpServletRequest.requestURI + '?' + #httpServletRequest.queryString == T(com.integralblue.hannaford.web.SiteUrlConstants).STORE_LOCATOR}?active"><a th:href="${T(com.integralblue.hannaford.web.SiteUrlConstants).STORE_LOCATOR}">Stores</a></li>
        <li th:classappend="${#httpServletRequest.requestURI + '?' + #httpServletRequest.queryString == T(com.integralblue.hannaford.web.SiteUrlConstants).WEEKLY_FLYER}?active"><a th:href="${T(com.integralblue.hannaford.web.SiteUrlConstants).WEEKLY_FLYER}">Weekly Flyer</a></li>
        <li th:classappend="${#httpServletRequest.requestURI + '?' + #httpServletRequest.queryString == T(com.integralblue.hannaford.web.SiteUrlConstants).GIFT_CARDS}?active"><a th:href="${T(com.integralblue.hannaford.web.SiteUrlConstants).GIFT_CARDS}">Gift Cards</a></li>
        <li th:classappend="${#httpServletRequest.requestURI + '?' + #httpServletRequest.queryString == T(com.integralblue.hannaford.web.SiteUrlConstants).TO_GO}?active"><a th:href="${T(com.integralblue.hannaford.web.SiteUrlConstants).TO_GO}">Hannaford To Go</a></li>
        <li th:if="${pageState.userInfo==null}" th:classappend="${#httpServletRequest.requestURI + '?' + #httpServletRequest.queryString == T(com.integralblue.hannaford.web.SiteUrlConstants).LOGIN}?active"><a th:href="${T(com.integralblue.hannaford.web.SiteUrlConstants).LOGIN}">Sign in / Register</a></li>
        <li th:if="${pageState.userInfo!=null}" th:classappend="${#httpServletRequest.requestURI + '?' + #httpServletRequest.queryString == T(com.integralblue.hannaford.web.SiteUrlConstants).LOGOUT}?active"><a th:href="${T(com.integralblue.hannaford.web.SiteUrlConstants).LOGOUT}">Sign out</a></li>
        <li th:if="${pageState.userInfo!=null}" th:classappend="${#httpServletRequest.requestURI + '?' + #httpServletRequest.queryString == T(com.integralblue.hannaford.web.SiteUrlConstants).MY_ACCOUNT}?active"><a th:href="${T(com.integralblue.hannaford.web.SiteUrlConstants).MY_ACCOUNT}" th:text="${pageState.userInfo.firstName}"></a></li>
        <li th:if="${pageState.userInfo!=null}" th:classappend="${#httpServletRequest.requestURI + '?' + #httpServletRequest.queryString == T(com.integralblue.hannaford.web.SiteUrlConstants).CART}?active"><a th:href="${T(com.integralblue.hannaford.web.SiteUrlConstants).CART}"><i class="left material-icons">shopping_cart</i> (<span class="badge">14</span>)</a></li>
        <li th:classappend="${#httpServletRequest.requestURI + '?' + #httpServletRequest.queryString == T(com.integralblue.hannaford.web.SiteUrlConstants).CAMERA}?active"><a th:href="${T(com.integralblue.hannaford.web.SiteUrlConstants).CAMERA}"><i class="left material-icons">photo_camera</i></a></li>
        <li th:classappend="${#strings.startsWith(#httpServletRequest.requestURI + '?' + #httpServletRequest.queryString,T(com.integralblue.hannaford.web.SiteUrlConstants).SEARCH)}?active">
	      <form th:action="${T(com.integralblue.hannaford.web.SiteUrlConstants).SEARCH}" class="right" method="GET">
	      	<div class="input-field col s6">
	          <input id="keyword" name="keyword" type="search" required>
	          <label for="keyword"><i class="material-icons">search</i></label>
	          <i class="material-icons">close</i>
	        </div>
	      </form>
    	</li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
      	<!-- left side navigation -->
      	<li class="native-app-exclude">
      		<img src="/assets/hf/assets/images/common/logo.png" />
      	</li>
        <li th:if="${pageState.userInfo!=null}" th:classappend="${#httpServletRequest.requestURI + '?' + #httpServletRequest.queryString == T(com.integralblue.hannaford.web.SiteUrlConstants).MY_ACCOUNT}?active"><a th:href="${T(com.integralblue.hannaford.web.SiteUrlConstants).MY_ACCOUNT}" th:text="${pageState.userInfo.firstName}"></a></li>
        <li th:if="${pageState.userInfo!=null}" th:classappend="${#httpServletRequest.requestURI + '?' + #httpServletRequest.queryString == T(com.integralblue.hannaford.web.SiteUrlConstants).MY_LOYALTY}?active"><a th:href="${T(com.integralblue.hannaford.web.SiteUrlConstants).MY_LOYALTY}">Your Loyalty Card</a></li>
        <li th:if="${pageState.userInfo==null}" th:classappend="${#httpServletRequest.requestURI + '?' + #httpServletRequest.queryString == T(com.integralblue.hannaford.web.SiteUrlConstants).LOGIN}?active"><a th:href="${T(com.integralblue.hannaford.web.SiteUrlConstants).LOGIN}">Sign in / Register</a></li>
        <li th:if="${pageState.userInfo!=null}" th:classappend="${#httpServletRequest.requestURI + '?' + #httpServletRequest.queryString == T(com.integralblue.hannaford.web.SiteUrlConstants).LOGOUT}?active"><a th:href="${T(com.integralblue.hannaford.web.SiteUrlConstants).LOGOUT}">Sign out</a></li>
        <li th:if="${pageState.userInfo!=null}" th:classappend="${#httpServletRequest.requestURI + '?' + #httpServletRequest.queryString == T(com.integralblue.hannaford.web.SiteUrlConstants).CART}?active"><a th:href="${T(com.integralblue.hannaford.web.SiteUrlConstants).CART}"><i class="left material-icons">shopping_cart</i> (<span class="badge">14</span>)</a></li>
        <li th:classappend="${#httpServletRequest.requestURI + '?' + #httpServletRequest.queryString == T(com.integralblue.hannaford.web.SiteUrlConstants).STORE_LOCATOR}?active"><a th:href="${T(com.integralblue.hannaford.web.SiteUrlConstants).STORE_LOCATOR}">Stores</a></li>
        <li th:classappend="${#httpServletRequest.requestURI + '?' + #httpServletRequest.queryString == T(com.integralblue.hannaford.web.SiteUrlConstants).WEEKLY_FLYER}?active"><a th:href="${T(com.integralblue.hannaford.web.SiteUrlConstants).WEEKLY_FLYER}">Weekly Flyer</a></li>
        <li th:classappend="${#httpServletRequest.requestURI + '?' + #httpServletRequest.queryString == T(com.integralblue.hannaford.web.SiteUrlConstants).GIFT_CARDS}?active"><a th:href="${T(com.integralblue.hannaford.web.SiteUrlConstants).GIFT_CARDS}">Gift Cards</a></li>
        <li th:classappend="${#httpServletRequest.requestURI + '?' + #httpServletRequest.queryString == T(com.integralblue.hannaford.web.SiteUrlConstants).TO_GO}?active"><a th:href="${T(com.integralblue.hannaford.web.SiteUrlConstants).TO_GO}">Hannaford To Go</a></li>
        <li><a href="/catalog/browse_products.cmd?viewSecId=28546">Shop by Department</a></li>
        <li class="no-padding">
          <ul class="collapsible collapsible-accordion">
            <li class="bold"><a class="collapsible-header">Customer Service</a>
              <div class="collapsible-body">
                <ul>
                  <li><a href="/content.jsp?pageName=ContactUs&leftNavArea=AboutLeftNav">Contact Us</a></li>
                  <li><a href="/content.jsp?pageName=FAQ&leftNavArea=AboutLeftNav">FAQs</a></li>
                  <li><a href="/custserv/custserv.jsp?pageName=Privacy">Privacy Policy</a></li>
                  <li><a href="/content.jsp?pageName=videos&leftNavArea=AboutLeftNav">Site Tutorials</a></li>
                  <li><a href="https://secure.ethicspoint.com/domain/media/en/gui/7392/index.html">ISHARE Network</a></li>
                  <li><a href="/custserv/sitemap.jsp">Sitemap</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse left"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  
  <nav>
    <div class="nav-wrapper">
      <div class="col s12">
        <a th:each="breadcrumb : ${breadcrumbs}" th:href="${breadcrumb.href}" class="breadcrumb" th:text="${breadcrumb.name}"></a>
      </div>
    </div>
  </nav>

  <section layout:fragment="content" class="container">
    <p>Page content goes here</p>
  </section>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">PoC by Isobar</h5>
          <p class="grey-text text-lighten-4">It's far from perfect. It isn't exactly pretty. But, it demonstrates solutions to some important technical challenges.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>
  </body>
</html>
