<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" manifest="/offline.manifest">
<head>
	<!-- No user should ever see this file -->
	<!-- http://labs.ft.com/2012/11/using-an-iframe-to-stop-app-cache-storing-masters/ -->
    <title>Manifest</title>
    <script type="text/javascript">
	    function onUpdateReady() {
	    	console.log('The site has been updated, about to refresh');
	    	if(window.parent){
	    		window.parent.location.reload(true);
	    	}else{
	    		location.reload(true);
	    	}
	    }
	
	    window.applicationCache.addEventListener('updateready', onUpdateReady);
	
	    if (window.applicationCache.status === window.applicationCache.UPDATEREADY) {
	    	onUpdateReady();
	    }
	    
	    window.applicationCache.update();
    </script>
</head>
<body>
</body>
</html>
