<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
    <title th:text="${thumbnailPage.title}"></title>
</head>
<body>
	<section layout:fragment="content">
		<h1 th:text="${thumbnailPage.title}"></h1>
		<table class="striped">
			<thead>
				<tr>
					<th colspan="2">Product</th>
					<th>Price</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="thumbnailProduct : ${thumbnailPage.thumbnailProducts}">
					<td><img onerror="this.src=&quot;/assets/hf/assets/images/common/noimage.gif&quot;; this.width=&quot;72&quot;;" th:src="${thumbnailProduct.image}" /></td>
					<td>
						<div><a th:href="${thumbnailProduct.href}" th:text="${thumbnailProduct.name}"></a></div>
						<div>Unit price: <span th:text="${thumbnailProduct.unitPrice}"></span></div>
					</td>
					<td>
						<span th:text="${'$' + #numbers.formatDecimal(thumbnailProduct.price, 0, 'COMMA', 2, 'POINT')}"></span>
					</td>
				</tr>
			</tbody>
		</table>
    </section>
</body>
</html>
